package layouts

import "github.com/joeychilson/hackernews/components"

templ Default(title string) {
	<html lang="en">
		<head>
			<title>
				if title != "" {
					{ title + " | Hacker News" }
				} else {
					{ "Hacker News" }
				}
			</title>
			<link href="/assets/app.css" rel="stylesheet"/>
		</head>
		@components.Header()
		<body class="bg-gray-100">
			{ children... }
		</body>
	</html>
}
