package pages

import (
	"github.com/joeychilson/hackernews/components"
	"github.com/joeychilson/hackernews/layouts"
	"github.com/joeychilson/hackernews/types"
)

templ Feed(props types.FeedProps) {
	@layouts.Default(props.Title) {
		<div class="mx-auto max-w-4xl">
			for _, story := range props.Stories {
				@components.StoryItem(story)
			}
			@components.Pagination(props.Total, props.PerPage, props.CurrentPage, props.StartPage, props.TotalPages, props.PageNumbers)
		</div>
	}
}
