package pages

import (
	"github.com/joeychilson/hackernews/components"
	"github.com/joeychilson/hackernews/layouts"
	"github.com/joeychilson/hackernews/models"
)

templ Home(stories []models.Item) {
	@layouts.Default() {
		<div class="mx-auto max-w-4xl">
			for _, story := range stories {
				@components.StoryItem(story)
			}
		</div>
	}
}
